@font-face {
  font-family: "Anton";
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/anton-regular.woff") format("woff"),
    url("/fonts/anton-regular.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Courier, monospace;
  font-size: 1.5rem;
  font-size: clamp(1.1rem, 4vw, 2rem);
  line-height: 1.4;
  color: white;
}

:root:has(#light-dark:checked) {
  filter: invert(1);
}

body {
  margin: 0;
  min-height: 100vh;
  background: #1a1a1a;
  overflow-x: hidden;
  animation: h-rot 10s linear 0s infinite;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 1.5vw;
}

h1 {
  margin-inline: auto;
  margin-top: 0;
  font-size: 7vw;
  font-size: clamp(2.5rem, 13vw, 5rem);
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 10px;
  margin-top: 3rem;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}

footer {
  margin-block: 1rem;
}

.small {
  font-size: 0.5rem;
}

.text-align-center {
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    padding: 0 13.6vw;
  }
}

nav {
  padding-block-end: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  display: block;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  outline: 7px dashed magenta;
  outline-offset: 4px;
}

nav a svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
}

.lead em {
  background-color: white;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.description {
  background-color: black;
  padding: 2rem;
}

.cover-image {
  position: absolute;
  width: 100%;
  z-index: -2;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 1200px) {
  .lead em {
    position: relative;
    left: -3rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@keyframes h-rot {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
